streamlit
pandas
scikit-learn
joblib
spacy>=3.7.0
rdflib
# Direct link to the specific SpaCy model needed by knowledge_base_builder.py
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

